body{
  background-image: url('https://images.unsplash.com/photo-1583645869606-4ad68a785357?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
}
html{
  scroll-behavior: smooth;
}
.ordi{
  background-image: url('https://images-ext-1.discordapp.net/external/DL1eBD25izNLothkx9sEoaV2-tMUd6nuxFdDci-X_KI/%3Fixid%3DMXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%253D%26ixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D667%26q%3D80%2522/https/images.unsplash.com/photo-1560457079-9a6532ccb118?width=611&height=458');
  background-repeat: no-repeat;
  background-size: cover;
  
  margin: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  .py-2{
    font-weight: bolder;
    background-color: black;
  }
  .form-group{
    padding-left: 5%;
    padding-right: 5%;
  }
}
.boutonsdebut{
  padding: 3%;
}

.projets{
  margin: 3%;
}
